* {
    font-family: monospace!important;
    color: white;
    overflow: hidden;
}

body {
    background: rgb(24, 24, 24);
    margin: 0;
    padding: 0;
}

#clickoverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(24, 24, 24, 1);
    z-index: 20;
    transition: opacity 0.5s ease;
    pointer-events: auto;
}

#clickoverlay.hide {
    opacity: 0; /* Opacity when hidden */
    pointer-events: none; /* Disable pointer events when hidden */
}

#overlay-content {
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 8px #797979;
}

#panel {
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    width: 300px;
    height: 260px;
}

#panel #content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#panel gradient {
    background: linear-gradient(90deg, #27c507, #69ffcd, #17c507, #d4ff70, #07c566);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    margin-bottom: 10px;
    animation-fill-mode: forwards;
    background-size: 400% 100%;
    text-shadow: 1px 1px 8px #33ff0075;
}

#panel gradientstatus {
    background: linear-gradient(90deg, #27c507, #69ffcd, #17c507, #d4ff70, #07c566);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    margin-bottom: 0px;
    margin-top: 10px;
    animation-fill-mode: forwards;
    background-size: 400% 100%;
    text-shadow: 1px 1px 8px #33ff0075;
}


#added-info, #removed-info {
    text-align: center; /* Centers text horizontally */
    margin: 0 auto; /* Centers the element itself if it's a block-level element */
}

  

#panel img {
    width: 100px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px #33ff0056);
    position: relative;
    user-select: none;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#panel a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

#panel a:hover {
    color: #09ff00;
    text-shadow: 1px 1px 8px #a6ff009c;
    text-decoration: underline;
}

.infotext {
    margin-bottom: 8px;
    margin-top: 8px;
}

.devlogtext {
    margin-bottom: 0px;
    margin-top: 0px;
}



#content .statustext {
    display: block;
    margin-bottom: 1px;
    font-size: 13px;
}



#content .status {
    margin-left: 10px;
    text-shadow: 1px 1px 8px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#content .status.nostock {
    color: #ff1100;
    text-shadow: 1px 1px 8px #ff101054;
}

#content .status.stock {
    color: #09ff00;
    text-shadow: 1px 1px 8px #15ff0046;
}

#content .status.maybe {
    color: #fbff00;
    text-shadow: 1px 1px 8px #fbff0046;
}






#content .statustext:hover .status {
    color: #ffffff;
    text-shadow: 1px 1px 8px #ffffff36;
}




img[alt*="000webhost"],
img[alt*="000webhost"][style],
img[src*="000webhost"],
img[src*="000webhost"][style],
body>div:nth-last-of-type(1)[style] {
    opacity: 0 !important;
    pointer-events: none !important;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
    display: none !important;
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 100; 

    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    width: 1200px;
    height: 260px;
}

/* Long button styling */
.long-button {
    position: relative;
    width: 200px;
    height: 400px;
    border: 1px solid rgba(30, 255, 0, 0.158);
    background-color: rgb(29, 29, 29);
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(18, 253, 69, 0.5);
    transition: 0.5s;
    z-index: 100; /* Ensure it's on top of other elements */
}

.long-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
}

.long-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    z-index: 1;
}

.long-button:hover {
    opacity: 0.8;
    border: 1px solid rgba(30, 255, 0, 1);
    box-shadow: 2px 2px 4px rgba(0, 255, 55, 0.7);
}